@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eceff1;
    --foreground: #ededed;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  background-color: #fefefe;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Cible les noms des jours dans l'en-tête du calendrier (ex: 'Sun', 'Mon', 'Tue', etc.) */
.rbc-header {
  @apply text-gray-800;
}

/* Cible les dates dans le calendrier */
.rbc-date-cell {
  @apply text-pink-600;
}

/* Cible les dates qui sont actuellement sélectionnées */
.rbc-selected {
  @apply bg-yellow-500 text-gray-900;
}

/* Cible les événements dans le calendrier */
.rbc-toolbar-label {
  @apply text-2xl text-gray-900;
}

.rbc-calendar {
  @apply shadow-none;
}
